<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Media</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Media</h1>
    <h1>Listado de Media</h1>
    <section>
        {{#if message}}
            <p>{{message}}</p>
        {{else}}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Matricula</th>
                    <th>Url</th>
                    <th>Titulo</th>
                    <th>Parrafo</th>
                    <th>Imagen</th>
                    <th>Video</th>
                    <th>Tipo Medio</th>
                    <th>Borrado</th>
                    <th>Orden</th>
                </tr>
                {{#each mediaItems}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.matricula}}</td>
                        <td>{{this.url}}</td>
                        <td>{{this.titulo}}</td>
                        <td>{{this.parrafo}}</td>
                        <td>
                            {{#if this.imagen}}
                                <img class="Imagen-tabla" src="{{this.imagen}}" alt="Imagen" style="width: 350px;">
                            {{else}}
                                No hay imagen
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.video}}
                                <iframe width="250" height="96" src="https://www.youtube.com/embed/{{extractYouTubeID this.video}}" frameborder="0" allowfullscreen></iframe>
                            {{else}}
                                No hay video
                            {{/if}}
                        </td>
                        <td>{{this.tipo_medio}}</td>
                        <td>{{this.esta_borrado}}</td>
                        <td>{{this.orden}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </section>
    <a class="volver" href="/admin">Volver</a>
    <a class="Crearnuevo" href="/admin/Media/crear">Crear Nuevo</a>
</body>
</html>
