<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h1>Listado de Integrantes</h1>
    <section>
        {{#if message}}
            <p>{{message}}</p>
        {{else}}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th>Código</th>
                    <th>URL</th>
                    <th>Estado</th>
                    <th>Orden</th>
                </tr>
                {{#each integrantes}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.matricula}}</td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.apellido}}</td>
                        <td>{{this.rol}}</td>
                        <td>{{this.codigo}}</td>
                        <td>{{this.url}}</td>
                        <td>{{this.esta_borrado}}</td>
                        <td>{{this.orden}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </section>
    <a class="volver" href="/admin">Volver</a>
    <a class="Crearnuevo" href="/admin/Integrante/crear">Crear Nuevo</a>
</body>
</html>
